<!-- Forum Layout -->



<!-- Layout of Each Discussion -->
<!-- <discussion ng-controller="discussionNumber">
	<h1>{{discussion.name}}</h1>
	<button ng-model="writePost"></button>
	<div ng-repeat="postNumber in totalPosts">
		<post info="postNumber"></post>
	</div>
</discussion>






 -->



<div class="panel panel-default" ng-controller="post">
	<div>
		<div>
			{{elton.image}}
			{{elton.name}}
			{{elton.dateJoined | date}}
		</div>
	</div>
	<div class="panel-body">
		<p>{{elton.content}}</p>
	</div>
</div>