<div id="background-animation">
    <div class="container">
        <div class="jumbotron">
          <h2>Forum</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar mattis molestie. Vestibulum ultricies tellus arcu, quis pellentesque libero pretium id. Pellentesque sollicitudin mi eu urna viverra vestibulum. Aenean a commodo neque. Nam porta ex nulla, vitae sagittis velit sollicitudin ut. Aenean aliquet congue molestie. Etiam diam nisl, tincidunt tempor risus ut, mattis iaculis nisi. Morbi interdum lorem tellus, ac vulputate sem volutpat ac. Nunc et ornare augue. Integer justo nisl, fermentum ut tempus vel, aliquam eget mauris. Cras facilisis ex id nisl pretium vehicula. Praesent blandit iaculis egestas. Aenean vitae feugiat nisl, vitae convallis lorem. Aliquam massa metus, ultrices a est vel, lacinia congue nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar mattis molestie. Vestibulum ultricies tellus arcu, quis pellentesque libero pretium id. Pellentesque sollicitudin mi eu urna viverra vestibulum. Aenean a commodo neque. Nam porta ex nulla, vitae sagittis velit sollicitudin ut. Aenean aliquet congue molestie. Etiam diam nisl, tincidunt tempor risus ut, mattis iaculis nisi. Morbi interdum lorem tellus, ac vulputate sem volutpat ac. Nunc et ornare augue. Integer justo nisl, fermentum ut tempus vel, aliquam eget mauris. Cras facilisis ex id nisl pretium vehicula. Praesent blandit iaculis egestas. Aenean vitae feugiat nisl, vitae convallis lorem. Aliquam massa metus, ultrices a est vel, lacinia congue nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
          <p><a class="btn btn-primary btn-lg" href="#/forum" role="button">Start Now</a></p>
        </div>
    </div>
	<video class="video-bg" autoplay loop>
		<source src="../videos/615245613.mp4" type="video/mp4" />
		<source src="../videos/615251856.mp4" type="video/mp4" />
		<source src="../videos/615247112.mp4" type="video/mp4" />
		<source src="../videos/342574553.mp4" type="video/mp4" />
	</video>
</div>
