<div class="container" ng-controller="registerCtrl">

<form id="register" ng-submit="submitNew()">
	<h1 class="text-center">Sign Up!</h1><br>

<!-- Username -->
	<label for="username">Username <small>(Please make it between 4-12 letters/numbers, no special characters)</small>:</label>
	<span class="glyphicon glyphicon-ok" ng-show="usernameChecked"></span>
	<br>
	<em>{{availabilityMsg}}</em>
	<input type="text" ng-model="newUsername" ng-change="checkName(newUsername)"/>

<!-- Password -->
	<label for="password">Password:</label>
	<span class="glyphicon glyphicon-ok" ng-show="passwordChecked"></span>
	<br>
	<div>
	<input type="{{showPassword ? 'text' : 'password'}}" ng-model="newUserPw" ng-change="checkPw(newUserPw)">
	<span id="pwclear"ng-click="changePwType()">{{showhide}}</span>
	</div>

<!-- Email -->
	<label for="email">Email:</label>
	<span class="glyphicon glyphicon-ok" ng-show="emailChecked"></span>
	<input type="text" ng-model="newUserEmail"/ ng-change="checkEmail(newUserEmail)">
	<button class="btn btn-primary">Submit</button>
</form>

</div>

<script type="text/javascript" src="registerService.js"></script>
<!-- Link to backend -->